﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

body {
    text-align: center;
    background-image: url('../imagens/fluig-background.jpg');
}

.QS, .Sla {
    font: bold 100px italic;
    color: white;
}

.button1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #0a49d1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .button1 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button1 span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button1:hover span {
        padding-right: 25px;
    }

        .button1:hover span:after {
            opacity: 1;
            right: 0;
        }

.button2:hover span:after {
    opacity: 1;
    right: 0;
}

.button2 {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

 .button2 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
 }

   .button2 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
   }

    .button2:hover span {
        padding-right: 25px;
    }

        .button2:hover span:after {
            opacity: 1;
            right: 0;
        }

.button2 {
    color: rgba(255,255,255,0.9);
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #a909e3, #ff0000);
    background-size: 600%;
    animation: anime 16s linear infinite;
}

.a {
    font: bold 60px italic;
}
body {
    background-image: url("/Imagens/tec.jpg");
    color:white;
}
