﻿@model IEnumerable<ElectroThunder.Modelos.ProdutoModel>

@{
    ViewBag.Title = "ConsultarProduto";
}

<h2>ConsultarProduto</h2>

<p>
    @Html.ActionLink("Create New", "CadastrarProduto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qtd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Alterar", "AlterarProdutos", new { id=item.Id }) |
           
            @Html.ActionLink("Deletar", "DeletarProduto", new { id=item.Id })
        </td>
    </tr>
}

</table>
