﻿
@{
    ViewBag.Title = "Contatos";
}

<h2>Contatos</h2>
<script>

    function abreface()
    {
        location.href = "https://www.facebook.com/Electro-Thunder-2318528755038546/";
        }

        function abreins()
    {
        location.href = "https://www.instagram.com/electrothunder19/";
        }

</script>


<br />

<h1 class="txtcontados"> Como você pode falar com a gente;</h1>

<button class="button1" style="vertical-align:middle" onclick="abreface();"><span> Facebook</span></button>

<button class="button2" style="vertical-align:middle" onclick="abreins();"><span> Instagram</span></button>

<h1>Também pelo e-mail: electrothunder2019@gmail.com</h1>


